@use "../abstracts/variables" as *;
@use "../base/global" as *;
@use "../base/reset" as *;

// Header mobile-first styles will go here
.header-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background-color: black;
    color: $color-white;
    font-size: 1.0625rem;
    display: flex;
    height: 5.5rem;
    transition: margin-top 0.3s ease;
    


    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-inline: 1rem;
        

        .nav__logo-wrapper {
            display: flex;
            align-items: center;
            gap: 0.5rem;
    
            .abstract-logo {
                height: 2rem;
                width: auto;
                transition: opacity 150ms;

                .abstract-logo:hover {
                    opacity: 0.8;
                }
                
                svg {
                    height: 100%;
                    width: auto;
                    display: block;
                }
            }

            .help-center {
                display: inline-block;
                margin: 4px 0 0 0.8rem;
                color: $color-white;
                font-family: $font-primary;
                font-size: $font-size-2xl;
                font-weight: $font-weight-regular;
                text-decoration: none;
                letter-spacing: -.5px;
                padding: 2px 0 4px 0.8rem;
                border-left: 2px solid $color-white;
                transition: all 0.3s ease;
            }

            .help-center:hover {
                text-decoration: underline;
            }
        }

        .nav__buttons-wrapper {
            display: flex;
            align-items: center;
            order: 2;

            .btn--topbar {
                background-color: transparent;
            }

            .btn--toggle-search {
                border-color: transparent;
                color: $color-white;
                padding-inline: 0;
                transition: transform 0.3s ease-in-out;
            }

            .btn--toggle-search:hover {
                transform: scale(1.3);
            }

            button .fa {
                font-size: 1.4rem;
            }

            .fa {
                transition: transform 0.3s ease, opacity 0.2s ease;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -moz-osx-font-smoothing: grayscale;
            }

            .fa-bars {
                transform: rotate(0deg);
            }
        
            .fa-times {
                transform: rotate(90deg);
            }

            .tcon {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                padding: 0;
                height: 30px; 
                outline: none;
                border: none;
                background-color: transparent;
                color: $color-white;
                cursor: pointer;
                transition: 0.3s;
            }

            // Target all child elements and make them block
            .tcon > * {
                display: block;
            }

            .tcon-menu--xcross {
                width: auto;
            }

            .tcon-visuallyhidden {
                position: absolute;
                overflow: hidden;
                
                // make the element to zero dimensions --> invisible
                clip: rect(0 0 0 0);
                margin: -1px;
                padding: 0;
                width: 1px;
                height: 1px;
                border: 0;
            }

        }
        
        .search-overlay {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 3;
            padding: calc(10px * 2);
            background-color: $color-white;
        }

        .search-overlay--active {
            display: block;
        }

        .search-overlay__container {
            display: flex;
            align-items: center;
            max-width: 1900px;
            width: 100%;
        }

        .search-overlay__input {
            border: 1.5px solid black;
            border-radius: 4px;
            width: 100%;
            padding: calc(10px * 2);
        }

        .search-overlay__close {
            color: $color-black;
            background-color: transparent;
            border-color: transparent;
            padding: .5rem 1rem;
            transition: transform 0.3s ease-in-out;
        }

        .search-overlay__close:hover {
            transform: scale(1.3);
        }

        .mobile-menu {
            display: none;
            position: absolute;
            top: 88px;
            left: 0;
            padding-top: 10px;
            border-top: 1px solid rgba(255, 255, 255, 0.5);
            background: #191a1b;
            color: $color-white;
            width: 100%;
        }

        .mobile-menu--active {
            display: block;
        }

        .mobile-menu__overlay {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 2rem 1rem;
            flex-wrap: wrap;
        }

        .mobile-menu__link {
            display: inline-block;
            margin: 0 1rem;
            padding: 1rem 0;
            background: transparent;
            border: none;
            text-decoration: none;
            color: $color-white;
            transition: opacity 0.3s ease-in-out;
            font-size: $font-size-2xl;
        }

        .mobile-menu__link:hover {
            opacity: 0.5;
        }
        
        .mobile-menu__divider { 
            border-bottom: 0.5px solid white;
            opacity: 0.7;
            width: 60%;
        }
    }
}

.header-container--menu-open {
    background-color: #191a1b;
}

/* xs */
@media (min-width: 475px) {}
/* sm */
@media (min-width: 640px) {}
/* md */
@media (min-width: 768px) {
    .container {
        padding-inline: calc(0.9375rem * 2);
    }
}
/* lg */
@media (min-width: 1024px) {
    .container {
        padding-inline: calc(0.9375rem * 4);
    }
}
/* xl */
@media (min-width: 1280px) {}
/* 2xl */
@media (min-width: 1536px) {}