@use "../../abstracts/variables" as *;
@use "../../abstracts/utilities" as *;

// Search overlay styles
.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    padding-inline: 1rem;
    padding-block: 2rem;
    background-color: $color-white;
}

.search-overlay--active {
    display: block;
}

.search-overlay__container {
    display: flex;
    align-items: center;
    max-width: 1900px;
    width: 100%;
}

.search-overlay__input {
    border: 1.5px solid black;
    border-radius: 4px;
    width: 100%;
    padding: calc(10px * 2);
}

.search-overlay__close {
    @include hover-scale;
    color: $color-black;
    background-color: transparent;
    border-color: transparent;
    padding: .5rem 1rem;
    
}

// Search button styles
.btn--toggle-search {
    @include hover-scale;
    border-color: transparent;
    color: $color-white;
    padding-inline: 0;
    
}

// Responsive search overlay
@media (min-width: 768px) {
    .search-overlay {
        padding-inline: 3rem;
    }
}